html {
    font-size: 37.5px;
}

body {
    font-family: 'Georgia', serif;
    /* background-image: url('/static/background.jpg'); */
    /* 背景图可以是古代地图或卷轴 */
    /* background-size: cover; */
    color: #4b2e0f;
    /* 深棕色文字 */

    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    /* 增加深色阴影 */
    width: 10rem;
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
}

#playerInfo,
#storyBackground,
#storyPlot {
    background-color: rgba(255, 255, 255, 0.6);
    /* 半透明背景 */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #8b4513;
    /* 边框颜色为深棕色 */
    font-size: 0.4rem;
    position: relative;
    box-sizing: border-box;
}

#storyPlot {
    width: 100%;
    height: 440px;
    overflow-y: auto;
}

#playerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.playerInfo_name_span,
.playerInfo_time_span {
    font-size: 0.5rem;
    font-weight: bold;
}

.playerInfo_name,
.playerInfo_time {
    margin-top: -16px;
}

.playerInfo_value {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.playerInfo_value_text {
    font-size: 0.35rem;
    font-weight: 500;
    margin-top: 8px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 0.4rem;
    background-color: #8b4513;
    /* 深棕色按钮 */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0522d;
    /* 鼠标悬停时按钮颜色变浅 */
}

button:active {
    background-color: #6b4226;
    /* 按下时按钮变暗 */
}

#storyBackground {
    font-size: 0.4rem;
    line-height: 1.5;
    text-align: justify;
    background-color: rgba(255, 255, 245, 0.9);
    /* 更贴近古书卷颜色 */
    padding: 15px;
    border: 1px solid #d4af37;
    /* 金色边框 */
    border-radius: 10px;
}

.storyBackground_firstText {
    font-size: 0.7rem;
}

#storyPlot {
    font-size: 0.4rem;
    line-height: 1.5;
    text-align: justify;
    background-color: rgba(255, 255, 245, 0.9);
    /* 更贴近古书卷颜色 */
    padding: 15px;
    border: 1px solid #d4af37;
    /* 金色边框 */
    border-radius: 10px;
    color: #fff;
    position: relative;
}

#storyPlot p {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 220px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

/* 日志框样式 */
#logBox {
    background-color: rgba(0, 0, 0, 0.7);
    /* 半透明黑色背景 */
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    /* 可滚动 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#logBox h2 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4af37;
    font-size: 0.7rem;
    text-align: center;
    /* 和标题相同的古铜色边框 */
}

#logContent {
    font-size: 0.4rem;
    line-height: 1.4;
    overflow-y: auto;
    max-height: 250px;
}

#miniGame p {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
}

.nameDialog {
    width: 10rem;
    height: 20rem;
    background: rgba(0, 0, 0, 0.4) url('./img/dialog_back.jpeg') no-repeat top;
    background-size: 100% 100%;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 9;
    margin: 0 auto;
}

.dialog {
    width: 280px;
    height: 200px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 0.45rem;
}

input {
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    font-size: 0.3rem;
}

.loading-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #8b4513;
    border-top-color: #444;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading_text {
    font-size: 0.4rem;
    text-align: center;
    color: #fff;
    margin-top: 6px;
    font-weight: bold;
    display: none;
}